.header{
    display: flex;
    justify-content: space-evenly;
}
.div-goals{
    display: flex;
position: relative;
height: 250px;
width: 170px;
background-color: blue;
border-radius: 5%;
justify-content: center;
}
.img-goals{
    height: 40px;
    position: absolute;
    justify-content: center;
    top: 40px;
}
.p-goals{
    display: flex;
    position: absolute;
    bottom: 70px;
}
.a-goals{
    display: flex;
    position: absolute;
    bottom: 60px;
    background-color: brown;
    height:20px;
    width: 45px;
    border-radius: 5px;
    justify-content: center;
    color: black;
}
.baba{
    display: flex;
    justify-content: space-evenly;
}
.boarder{
    border: 1px inset black ;
    padding: 30px 20px;
    margin: 60px 30px;
}
p span{
    font-weight: bold;
}
@media screen and (max-width: 360px){
    .div-goals {
        width: 60px;
        font-size: smaller;
    }
    .header{
        font-size: smaller;
    }
}